*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 300;
  color: #222;
  overflow-x: hidden;
}


header{
  color: #EEE;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/header-img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/*NAVIGATION*************/

nav{
  padding-top: 20px;
}

.nav li a,
.nav li a:link,
.nav li a:hover,
.nav li a:active,
.nav li a:visited{
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #F2D388;
  transition: 1s;
}

.nav li a::after{
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #F2D388;
  transition: width 1s;
}

.nav li a:hover::after{
  width: 100%;
  transition: width 1s;
}


.nav-div ul{
  justify-content: space-around;
}

/*REUSABLE STYLING, USED IN MORE THAN ONE SECTION*/

h2{
  margin-top: 20px;
  margin-bottom: 20px;
}


/*RESTAURANT INFO*/

.general-info{
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

.restaurant-name{
  padding-top: 150px;
  text-align: center;
}

.restaurant-name h1{
  font-size: 80px;
}


/*ABOUT SECTION *************/

.about-section{
  background-color: #EEE;
}

.description-row,
.info-row{
  justify-content: center;
  text-align: center;
}

.info-location,
.info-hours{
  margin-top: 50px;
}


/*MENU SECTION*/

.menu-section{
  background-color: #E6E6E6;
}

.menu-div{
  margin: auto;
}

.pizza-div,
.topping-div,
.menu-div,
.sides-div{
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.pizza-title,
.sides-title{
  border-bottom: 1px solid #222;
  padding-bottom: 15px;
}

.item-div{
  margin-top: 25px;
}

.item-div h4{
  margin-bottom: 10px;
}


/*CONTACT SECTION*/

.contact-header{
  text-align: center;
}

.contact-section{
  background-color: #EEE;
}

.contact-section p{
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-div{
  text-align: center;
}

button{

}

button:hover{
  cursor: pointer;
}
